@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

/* Global  */
* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

::selection {
    background-color: #23689B;
    color: white;
}

body {
    scroll-behavior: smooth;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
}

header a {
    display: flex;
    /* justify-content: center; */
    margin: auto;
}

header .society-logo {
    display: flex;
    justify-content: end;
}

header a img {
    max-width: 60%;
    margin: 0% 2%;
}

header img {
    max-width: 15%;
}

header h2 img {
    max-width: 14%;
    padding: 0.5%;
}

header h2 {
    font-size: x-large;
    display: flex;
    align-items: center;
    margin: 0%;
}

/*NAVIGATION*/
.navbar {
    top: 0;
    cursor: pointer;
    background: darkorange;
    position: sticky;
    z-index: 2;
}

.navigation {
    padding-right: 40px;
}

/* #gal {
    width: auto;
    align-items: center;
    display: flex;
    position: relative;
}



#dropdown {
    position: absolute;
    display: none;
    background-color: darkorange;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 8rem;
    height: auto;
    box-sizing: border-box;
    left: 0;
    top: 100%;
    border-radius: 5px;
}

#cent {
    margin: auto;
    padding: 0.8rem;
}

#gal:hover #dropdown {
    display: block;
}

#dropdown li {
    background-color: darkorange;
    height: 3rem;
    border-bottom: 1px solid #ffffff;
    border-radius: 5px;
}

#dropdown li:hover {
    background-color: darkorange;
}

#dropdown li div:hover>a {
    color: #23689B;
    ;
}

#dropdown li a {
    color: rgb(255, 255, 255);
}

li:hover .dropdown {
    display: block;
    top: 3.6rem;
} */

/*NAVIGATION LINKS*/
.navigation ul {
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;

    width: 100%;
}

.navigation li {
    list-style: none;
    padding: 1%;
    text-align: center;
    /* margin: auto 2% auto 6%; */
}

.navigation li a {
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 1rem;
}

.navigation a:hover {
    color: #23689B;
    border-radius: 5px;
}

.menu_icon {
    display: none;
    position: absolute;
    cursor: pointer;
    right: 0%;
    top: 1px;
}

.line {
    height: 3px;
    width: 18px;
    margin: 2px 2px;
    background-color: #23689B;
}

/*BANNER*/

.section_one {
    height: 54vh;
    display: flex;
}

/*GROUP IMG*/

.groupimg img {
    z-index: -1;
    position: absolute;
    max-width: 100%;
    width: 98.9%;
    margin: 0%;
}

/*TEXT BEFORE PROGRAM CHAIRS*/

#text_part {
    display: flex;
    /* align-items: center; */
    /* margin-top: 4.5%; */
    border-left: 8px solid darkorange;
    border-right: 8px solid darkorange;
    margin: 0 2%;
    margin-bottom: 3%;
    font-size: 2rem;
    padding: 0% 3%;
    margin-top: 1%;
}

#text_part p {
    max-width: 85%;
}

.about p {
    max-width: 90%;
}

/* YOUTUBE*/
.youtube_video iframe {
    width: 240%;
    /* max-width: 384px; */
    height: 98%;
}

/*Program Chairs*/
#programchairs {
    color: black;
    padding: 30px 20px;
    font-size: 30px;
}

#everything {
    display: flex;
}

.firstall {
    max-width: 100%;
}

.chairperson {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-content: space-evenly;
    align-items: center;
}

.photoright {
    min-height: 400px;
    align-items: center;
    /* justify-content: space-evenly; */
    max-width: 30%;
    margin: auto;
    display: flex;
    flex-direction: column;
    max-width: min-content;
    padding-bottom: 2%;
}

.paras {
    /* padding: 12px 39px; */
    text-align: center;
}

.chair_photo {
    display: flex;
    justify-content: center;
}

.chair_photo img {
    width: 250px;
    border-radius: 20px;
    margin: 19px;
}

#dasgupta img {
    height: 211px;
    width: 211px;
}

.sectiontag {
    font-size: 24px;
    color: black;
    padding-bottom: 1px;
    font-weight: 700;
}

.chairInfo {
    margin: auto;
    width: 70%;
}

/* Organizing committee  */
.committee {
    padding: 2% 5%;
}

.committee ul h2 {
    font-size: 2rem;
}

.committee ul li {
    font-size: 1.2rem;
}

.awc {
    border-left: 15px solid darkorange;
    padding: 34px 26px;
    margin: 0% 0% 0% 2%;
    max-width: 100%;
}

.awc p {
    font-size: 20px;
}

.awc h2 {
    font-size: 30px;
}

.awc h4 {
    font-size: 23px;
}

/*  --------       Image Slider   */

.swiper {
    width: 100%;
    height: 100%;
    display: fixed;
    margin: 3px 0;
}

.swiper-slide img {
    width: 100%;
}

.swiper-slide video {
    width: 100%;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
    color: #ffffff66;
    scale: 150%;
}

.swiper .swiper-pagination-bullet-active {
    background: white;
    scale: 150%;
}

/**COUNTDOWN***/
#countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5vw;
    background-color: darkorange;
    max-width: 70%;
    margin: auto;
    border-radius: 8px;
    margin-bottom: 3%;
    margin-top: 3%;
    text-align: center;
    color: white;
}

/* #countdown b {
    color: white;
}

#countdown p {
    color: white;
} */

/**MAP PART**/
#map {
    display: flex;
}

#map div:nth-child(1) {
    width: 37%;
}

#map div:nth-child(2) {
    width: 52%;
}

#map iframe {
    height: 100%;
    width: 100%;
}

.download-brochure-btn {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    margin: 0%;
    max-width: 40%;
}

.download-brochure-btn a {
    white-space: nowrap;
    text-decoration: none;
    font-size: 110%;
    font-weight: bold;
    background-color: darkorange;
    color: white;
    padding: 5%;
    border-radius: 10px;
}

/*contact us*/
#contact_us {
    background-image: linear-gradient(black, #603500);
}

.ASI_contact {
    margin: 1%;
    font-size: 14px;
    color: white;
}

.ASI_contact a {
    text-decoration: none;
    color: #957d2b;
}

/*footer*/

pre {
    font-family: "Montserrat", "Times New Roman", Times, serif;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5%;
    padding: 0.5%;
    gap: 1vw;
}

footer b {
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
}

footer img {
    max-width: 18%;
    /* padding: 0% 1%; */
    width: 3vw;
}

/*******EVENT PAGE*****/
/*Program Chairs*/

#programchairs {
    color: darkorange;
    font-size: 50px;
    margin-top: 0%;
    margin-left: 3%;
}

.grid {
    display: grid;
    grid-gap: 0.5rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    align-items: start;
    margin-left: 2%;
    margin-bottom: 2rem;
}

.grid-item {
    /* border-radius: 20px;*/
    overflow: hidden;
    width: 65%;
    display: flex;
    justify-self: center;
}

.card-img {
    display: block;
    width: 100%;
    /*width: fit-content;*/
    height: 15rem;
    /* border-radius: 20px;*/
    /* border: 2px solid black;*/
    object-fit: contain;
    overflow: hidden;
}

.card {
    border-width: 10px;
    display: none;
}

.card-content {
    padding: 1rem;
}

.card-content h1 {
    font-size: 16px;
    font-weight: 600;
    color: #616161;
    margin-bottom: 1rem;
    text-align: center;
}

.card-content p {
    font-size: 15px;
    line-height: 1.7;
    color: #3d3d3d;
    margin-bottom: 1.5rem;
    text-align: center;
}

/* show more button */
.show-more-btn {
    display: block;
    margin: auto;
    margin-bottom: 15%;
    height: 50px;
    padding: 0 50px;
    border: 0;
    border-radius: 15px;
    background-color: darkorange;
    color: #f1f1f1;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    transition: 0.3s linear;
}

.show-more-btn:hover {
    background-color: #006A9F;
    cursor: pointer;
}

.key-attraction {
    margin-left: 5%;
    margin-bottom: 8%;
}

.key-attraction h1 {
    color: darkorange;
    font-size: 50px;
}

.key-attraction ul {
    font-size: 20px;
}

/*****SUBMISSION PAGE****/
.content {
    /* padding: 50px; */
    padding: 0 50px;
    line-height: 1.7;
    font-size: 1.4rem;
    margin-top: 2%;
    /* margin-top: -4%; */
}

#rch-track,
#std-track {
    width: auto;
    /* adjust the width as needed */
    margin: 20px;
    /* add some margin for better alignment */
}

#rch-btn,
#std-btn {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: darkorange;
    color: #fff;
    cursor: pointer;
}

#rch-btn:hover,
#std-btn:hover {
    background-color: #f07400;
}

#rch-txt,
#std-txt {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
}

.content-container {
    width: 80%;
    max-width: 800px;
}

.content-box {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
    padding: 20px;
    padding-bottom: 8px;;
    position: relative;
    overflow: hidden;
}

.content-text {
    max-height: 200px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    transition: max-height 0.3s ease;
}

.blur-overlay {
    position: absolute;
    bottom: 50px;
    /* Adjusted to position just above the button */
    left: 0;
    width: 100%;
    height: 40px;
    background: linear-gradient(transparent, rgba(207, 204, 204, 0.8));
    transition: opacity 0.3s ease;
    z-index: 1;
    /* Ensure it sits above the text */
}

.toggle-button {
    background-color: darkorange;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    z-index: 1;
    /* Ensure it sits above the blur */
    position: relative;
}

.content-box.expanded .content-text {
    max-height: 1000px;
    /* Enough to show the entire content */
}

.content-box.expanded .blur-overlay {
    opacity: 0;
}

.content-box.expanded .toggle-button {
    background-color: #c65600;
}

.grid-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
#SubTopics {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#SubTopics img {
    margin: auto;
    max-width: 46%;
    height: fit-content;
    display: flex;
}

#SubTopics span {
    font-size: 1.4rem;
    font-weight: 600;
}

.left {
    padding-top: 0%;
}

#SubTopics p {
    padding-bottom: 0%;
}

.first-ul {
    padding-bottom: 1%;
}

.imp-dates {
    padding-bottom: 1%;
}

/****REGISTRATION PAGE******/
#registration_page {
    font-size: 25px;
}

#reg_dates,
#reg_table,
#account-details {
    margin: 11% 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#reg_dates h1,
#reg_table h1,
#account-details h1 {
    color: darkorange;
}

#account-details p,
#reg_dates p {
    margin: 1.5% 0;
}


#reg_table table {
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    border-style: hidden;
    font-size: x-large;
    text-align: center;
    justify-content: center;
    padding: 15px;
    border-radius: 15px;
    width: 120%;
}

#reg_table tr,
#reg_table th {
    padding: 3%;
}

#reg_table tr:nth-of-type(odd) {
    background-color: #f3f3f3;
}

.register-here {
    min-width: 35%;
    margin-top: 5%;
    margin-bottom: 5%;
}

.register-here img {
    max-width: 55%;
    position: sticky;
    top: 10%;
    width: 100%;
    /* border: 25px solid darkorange; */
    border-radius: 10px;
    box-shadow: 0px 0px 5px 2px grey;
    transition: 0.2s ease-in-out;
}



/* .register-here h5 {
    position: sticky;
    top: 50%;
    padding-left: 2%;
    z-index: -1;
}

.clickHere {
    text-decoration: none;
    color: darkorange;
    transition: all 0.2s ease-in-out;
}

.clickHere:hover {
    color: #23689B;
} */

/******SPONSER PAGE******/

.patner_img img:nth-child(1) {
    margin: 2% 4%;
    max-width: 100%;
    width: 32%;
}

.patner_img img:nth-child(2) {
    margin: 2% 3%;
    max-width: 25%;
}

.patner_img img:nth-child(3) {
    margin: 2% 4%;
    max-width: 8%;
}

.patner_img img:nth-child(4) {
    margin: 5% 5% 1% 5%;
    max-width: 25%;
}

.patner_img img:nth-child(5) {
    margin: 0% 0% 4% 5%;
    max-width: 25%;
}

.patner_img img:nth-child(6) {
    margin: 0% 0% 4% 5%;
    max-width: 22%;
}

.patner_img img:nth-child(7) {
    margin: 0% 0% 4% 5%;
    max-width: 22%;
}

.patner_img img:nth-child(8) {
    margin: 0% 0% 2% 13%;
    max-width: 20%;
}

.patner_img img:nth-child(9) {
    margin: 0% 0% 2% 8%;
    max-width: 25%;
}

.patner_img img:nth-child(10) {
    margin: 0% 0% 5% 8%;
    max-width: 25%;
}

#Patners h1 {
    font-size: x-large;
    margin: 4% 0% 0% 5%;
    max-height: 2em;
    border-left: 9px solid darkorange;
    padding: 1%;
}

#Sponsers table {
    box-shadow: 0 0 20px rgb(0 0 0 / 15%);
    margin: 2% 12%;
    border-style: hidden;
    font-size: x-large;
    text-align: center;
    justify-content: center;
    padding: 15px;
    border-radius: 15px;
}

#Sponsers h1 {
    border-left: 9px solid darkorange;
    padding: 1% 2%;
}

#Sponser_div p {
    font-size: x-large;
}

#Sponsers p {
    font-size: x-large;
}

#Sponsers tr:nth-of-type(odd) {
    background-color: #f3f3f3;
}

/* #Sponsers ul {
    list-style-type: "✓ ";
} */

#Sponsers li {
    font-size: 25px;
}

/**************************      Schedule page ********************/

.day-title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
}

.day-title-hall {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0%;
    padding: 0%;
}

.day-title-hall h2 {
    padding: 0%;
}

.day-title h1 {
    color: darkorange;
    font-size: 3rem;
}

.day-title-hall {
    font-size: 1.5rem;
    color: darkorange;
    padding: 0%;
}

.styled-table table {
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5%;
    text-align: center;
    font-size: 1.1rem;
    width: 95%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table table thead tr {
    background-color: #dddddd;
    color: black;
}

.styled-table table th,
.styled-table table td {
    padding: 20px 25px;
}

.styled-table table tr :nth-child(2) {
    text-align: justify;
}

.styled-table table tbody tr :nth-child(1),
.styled-table table tbody tr :nth-child(3),
.styled-table table tbody tr :nth-child(4) {
    font-weight: 700;
}

.styled-table table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.day-note {
    margin-top: 5%;
    margin-bottom: 5%;
    font-style: italic;
    font-size: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

#day2 {
    margin-top: 15%;
}

/* Schedule Page - Coming soon */
.coming-soon {
    display: flex;
    height: 60vh;
    padding: 5% 12%;
    overflow: hidden;
}

.coming-soon .left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55vw;
}

.coming-soon .left h2 {
    font-size: 5vw;
    color: #23689B;
}

.coming-soon .left span {
    color: #f2904a;
}

.coming-soon .right {
    width: 30vw;
    display: flex;
    align-items: center;
}

.coming-soon .right img {
    z-index: -1;
    width: 100%;
    animation: moveUp 1.5s infinite ease-out;
}

/* Rocket Animation By Scientist Samannn */
@keyframes moveUp {
    0% {
        transform: translateY(20%);
    }

    100% {
        transform: translateY(-120%);
    }
}

/* Coming soon Media Query  */
@media all and (max-width: 600px) {
    .coming-soon {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .coming-soon .left h2 {
        font-size: 7vw;
    }
}

/******RESPONSIVE******/

/*******Responsive part*******/
@media only screen and (max-width: 600px) {

    /*HEADER*/
    header h2 {
        font-size: 11px;
    }

    header h2 img {
        max-width: 25%;
    }

    header a {
        max-width: 20%;
    }

    header a img {
        max-width: 100%;
    }

    header img {
        max-width: 20%;
    }

    footer b {
        font-size: 12px;
    }

    footer img {
        max-width: 39%;
        padding: 0% 2%;
        width: 8%;
    }

    /*NAVIGATION*/
    .navigation ul {
        display: flex;
        flex-direction: column;
        /* margin-left: -9%; */
    }

    .navigation li {
        display: flex;
        justify-content: center;
        list-style: none;
        padding: 4% 1.5%;
        font-size: xlarge;
    }

    /* #gal {
        width: 123%;
        align-items: center;
        display: flex;
        position: relative;
    }



    #dropdown {
        position: absolute;
        display: none;
        background-color: darkorange;
        padding: 0;
        margin: 0;
        list-style: none;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        left: 0;
        top: 100%;
        border-radius: 0px;
    }

    #cent {
        margin: 0;
        padding: 0;
    }

    #gal:hover #dropdown {
        display: block;
    }

    #dropdown li {
        background-color: darkorange;
        height: 3rem;
        border-bottom: 1px  ;
        border-radius: 0px;
        padding: 1rem;
    }

    #dropdown li:hover {
        background-color: darkorange;
    }

    #dropdown li div:hover>a {
        color: #23689B;
        ;
    }

    #dropdown li a {
        color: rgb(255, 255, 255);
        margin: 0;
    }

    li:hover .dropdown {
        display: block;
        top: 3.6rem;
    } */

    .menu_icon {
        display: block;
        position: absolute;
        cursor: pointer;
        right: 1%;
        top: 3px;
        background: darkorange;
        border: none;
    }

    .visible {
        opacity: 0%;
        pointer-events: none;
    }

    .nav_res {
        height: 28px;
    }

    /*IMGE SLIDER*****/
    .swiper .swiper-button-prev,
    .swiper .swiper-button-next {
        color: #ffffffb9;
        scale: 59%;
    }

    /*BANNER*/
    .section_one {
        height: 13vh;
        display: flex;
    }

    .sectiontag {
        font-size: 22px;
    }

    .groupimg img {
        max-width: 96%;
    }

    /**youtube video**/
    .youtube_video iframe {
        width: 100%;
    }

    #text_part {
        font-size: 19px;
        flex-direction: column;
    }

    #text_part p {
        max-width: 90%;
    }

    /**COUNTDOWN***/
    #countdown {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: small;
        border: 4px solid darkorange;
        background-color: darkorange;
        text-align: center;
        color: white;
        margin: auto;
        max-width: 90%;
    }

    /*PROGRAM CHAIRS*/
    .chairperson {
        display: flex;
        flex-direction: column;
    }

    .firstall {
        width: 100%;
    }

    .photoright {
        margin: 6% 0;
    }

    #programchairs {
        font-size: 28px;
        padding: 1%;
    }

    .sectionsubtag {
        font-size: 3vw;
    }

    /*Contact us*/
    .contact {
        flex-direction: column;
    }

    /***MAP PART**/
    #map {
        display: flex;
        flex-direction: column;
    }

    #map div:nth-child(1) {
        width: 99%;
    }

    #map iframe {
        height: 100%;
        max-width: fit-content;
        padding: 9% 0% 1% 0%;
        width: fit-content;
    }

    .ASI_contact {
        margin: 0% 0% 0% 8%;
        font-size: 10px;
        color: white;
    }

    .awc {
        margin: 0% 0% 0% 0%;
    }

    .awc h2 {
        font-size: 22px;
    }

    .awc h2 {
        font-size: 22px;
    }

    .awc p {
        font-size: 16px;
    }

    .download-brochure-btn {
        max-width: 59%;
        font-size: 12px;
    }

    /****EVENT PAGE*****/
    .grid {
        margin-bottom: -6rem;
    }

    .grid-item {
        width: 100%;
        display: block;
    }

    .card-img {
        height: 9rem;
    }

    .key-attraction {
        margin-top: 23%;
    }

    .key-attraction h1 {
        color: darkorange;
        font-size: 27px;
    }

    .key-attraction ul {
        font-size: 14px;
    }

    .card-content h1 {
        justify-content: center;
        display: flex;
    }

    .card-content p {
        justify-content: center;
        display: flex;
        font-size: 12px;
    }

    .show-more-btn {
        height: 38px;
        padding: 0 9px;
        font-size: 15px;
        margin-top: 20%;
    }

    /****SUBMISSION*****/
    .content {
        padding: 2%;
        font-size: medium;
    }

    #SubTopics {
        flex-direction: column;
    }

    #SubTopics img {
        margin: 0;
        max-width: 90%;
    }

    /****register page******/
    .register-here {
        max-width: 26%;
    }

    .register-here h5 {
        display: none;
    }

    .register-here img {
        max-width: 70%;
        /* border: 10px solid darkorange; */
        border-radius: 6px;
    }

    #registration_page {
        font-size: 14px;
    }

    #reg_table table {
        box-shadow: 0 0 20px rgb(0 0 0 / 15%);
        border-style: hidden;
        font-size: x-small;
        text-align: 0;
        justify-content: 0;
        padding: 1px;
        border-radius: 14px;
        width: 100%;
        margin-left: -3%;
    }

    /*******SPONSERS PAGE******/
    #patner_img {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #patner_img img:nth-child(odd) {
        margin: 11% 7%;
        max-width: 54%;
        max-height: 4em;
    }

    #patner_img img:nth-child(even) {
        margin: 0% 5%;
        max-width: 53%;
        max-height: 5em;
    }

    #Patners h1 {
        font-size: medium;
    }

    #Sponsers h1 {
        font-size: medium;
    }

    #Sponsers p {
        font-size: small;
    }

    #Sponsers li {
        font-size: small;
    }

    #Sponsers table {
        box-shadow: 0 0 20px rgb(0 0 0 / 15%);
        margin: 0;
        border-style: hidden;
        /* font-size: x-large; */
        font-size: 11px;
    }

    .patner_img img:nth-child(10) {
        margin: 0% 0% 5% 8%;
        max-width: 23%;
    }

    /******** ** schedule page ************* */

    .day-title h1 {
        font-size: 2rem;
    }

    .day-title-hall {
        font-size: 1.2rem;
    }

    .styled-table table {
        margin-left: auto;
        margin-bottom: 5%;
        text-align: center;
        font-size: 0.9rem;
        width: 90%;
    }

    .styled-table table th,
    .styled-table table td {
        padding: 20px 9px;
        /* x-axis padding from 25 to 8 - to fix overflow in mobile view */
    }

    .styled-table table tr :nth-child(2) {
        text-align: unset;
    }

    .day-note {
        font-size: 0.5rem;
        margin: 5% 0% 5% 0%;
    }

    #day2 {
        margin-top: 15%;
    }
}

/*****TAB****/
@media screen and (max-width: 1266px) and (min-width: 600px) {

    /*HEADER*/
    header h2 {
        font-size: 25px;
    }

    header h2 img {
        max-width: 25%;
    }

    header a {
        max-width: 21%;
    }

    header a img {
        max-width: 100%;
    }

    header img {
        max-width: 21%;
    }

    footer img {
        max-width: 29%;
        /* padding: 0% 1%; */
        width: 5vw;
    }

    /*NAVIGATION*/
    .navigation ul {
        display: flex;
    }

    /* .navigation li {
        margin: auto 2% auto 1%;
    } */


    /*BANNER*/
    .section_one {
        height: 20vh;
        display: flex;
    }

    .groupimg img {
        max-width: 96%;
    }

    /**youtube video**/
    .youtube_video iframe {
        width: 100%;
        height: 32vh;
    }

    #text_part {
        flex-direction: column;
    }

    #text_part p {
        max-width: 90%;
    }

    .download-brochure-btn {
        max-width: 94%;
    }

    /*Contact us*/
    .contact {
        flex-direction: column;
    }

    #map div:nth-child(1) {
        width: 51%;
    }

    .ASI_contact {
        margin: 1% 7%;
        font-size: 19px;
        color: white;
    }

    /*PROGRAM CHAIRS*/
    .chairperson {
        display: flex;
        flex-direction: column;
    }

    .photoright {
        padding-bottom: 8%;
    }

    /* Event */
    .grid-item {
        width: 100%;
        display: block;
    }

    /** schedule */
    .styled-table table tr :nth-child(2) {
        text-align: unset;
    }

    /****SUBMISSION*****/
    #SubTopics {
        flex-direction: column;
    }

    #SubTopics img {
        margin: 0;
        max-width: 90%;
    }

    /****register page******/
    .register-here {
        max-width: 26%;
    }

    .register-here img {
        max-width: 96%;
    }

    #registration_page {
        font-size: 22px;
    }

    #reg_table table {
        box-shadow: 0 0 20px rgb(0 0 0 / 15%);
        border-style: hidden;
        font-size: medium;
        text-align: 0;
        justify-content: 0;
        padding: 15px;
        border-radius: 15px;
        width: 118%;
    }

    /*******SPONSERS PAGE******/
    #patner_img {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    #patner_img img:nth-child(odd) {
        margin: 11% 7%;
        max-width: 75%;
        max-height: 8em;
    }
}

#contact-details {

    width: 90vw;
    /* max-width: 800px; */
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    padding-top: 0;
    padding-bottom: 5px;
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    /* max-width: 800px; */
    margin: 0 auto;
    /* padding-left: 20px; */
    box-sizing: border-box;
    gap: 5rem 0 0 0;
}

.contacts h2 {
    /* margin-left: 1vw; */
    margin-bottom: 0;
    display: block;
    width: 100%;
    color: white;
    text-align: center;
    /* text-decoration: underline; */
}

#leftrow,
#rightrow {
    flex: 1 1 45%;
    margin-bottom: 20px;
    /* margin-right: 20px; */
    box-sizing: border-box;
    text-align: left;
    padding: 20px;
    max-width: fit-content;

    /* border: 1px solid #ccc; */
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

#leftrow,
#rightrow {
    margin-left: 3rem;
    width: fit-content;
    min-height: 22rem;
}

.con {
    color: white;
    line-height: 1vh;
    padding: 0.5rem;
}

.con p a {
    text-decoration: none;
    color: inherit;
}

.Addr {
    /* padding-left: 20px; */
}

.Addr h2 {
    /* margin-left: 1vw; */
    margin-bottom: 0;
    display: block;
    width: 100%;
    color: white;
    text-align: center;
    /* text-decoration: underline; */
}

#Address {
    /* margin-left: 5rem; */
    color: #f3f3f3;
    /* padding-left: 5rem; */
    padding-top: 1em;
    margin: auto;
    width: fit-content;
    text-align: center;
}

#Address p {
    margin: 0.3rem;
}

@media (max-width: 768px) {
    #rightrow {
        min-width: none;
    }

    #leftrow {
        /* margin-right: 0; */
    }

    #leftrow,
    #rightrow {
        flex: 1 1 0;
        padding-bottom: 0;
        padding-top: 0;
        margin-bottom: 0;
        margin-top: 0;
        margin-left: 2em;
        font-size: x-small;
        min-height: 286px;
        margin: 0 0 0 10px;
        padding: 0;
        /* min-width: 210px; */
        width: fit-content;
    }

    .con {
        color: white;
        line-height: 2vh;
        /* padding: 0.5rem; */
        margin: 0;
        padding: 0;
        width: fit-content;
    }

    .con p {
        width: fit-content;
    }

    .Addr {
        padding: 0;
    }

    .Addr h2 {
        font-size: medium;
        margin-bottom: 0;
        display: block;
        width: 100%;
        color: white;
        margin: 0;
    }

    #Address {
        /* margin-left: 0rem; */
        color: #f3f3f3;
        padding-left: 0;
        font-size: x-small;
        margin: auto;
        width: fit-content;
        text-align: center;
    }

    .contacts {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        /* max-width: 800px; */
        margin: 0 auto;
        /* padding-left: 20px; */
        box-sizing: border-box;
        gap: 5rem 0 0 0;
        padding-left: 0;
    }

    .contacts h2 {
        font-size: medium;
        margin: 0;
    }

    #contact-details {
        padding: 0;
        padding-bottom: 20px;
    }
}

body {
    margin: 0;
}

#gal {
    width: auto;
    align-items: center;
    display: flex;
    position: relative;
}



#dropdown {
    position: absolute;
    display: none;
    background-color: darkorange;
    padding: 0;
    margin: 0;
    list-style: none;
    width: 8rem;
    height: auto;
    box-sizing: border-box;
    left: 0;
    top: 100%;
    border-radius: 5px;
}

#cent {
    margin: auto;
    padding: 0.8rem;
}

/* #gal:hover #dropdown {
            display: block;
        } */

#dropdown li {
    background-color: darkorange;
    height: 3rem;
    border-bottom: 1px solid #ffffff;
    border-radius: 5px;
}

#dropdown li:hover {
    background-color: darkorange;
}

#dropdown li div:hover>a {
    color: #23689B;
    ;
}

#dropdown li a {
    color: rgb(255, 255, 255);
}

/* li:hover .dropdown {
            display: block;
            top: 3.6rem;
        } */

@media only screen and (max-width: 600px) {
    #gal {
        width: 123%;
        align-items: center;
        display: flex;
        position: relative;
    }



    #dropdown {
        position: absolute;
        display: none;
        background-color: darkorange;
        padding: 0;
        margin: 0;
        list-style: none;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        left: 0;
        top: 100%;
        border-radius: 0px;
    }

    #cent {
        margin: 0;
        padding: 0;
    }

    #dropdown li {
        background-color: darkorange;
        height: 3rem;
        border-bottom: 1px;
        border-radius: 0px;
        padding: 1rem;
    }

    #dropdown li:focus {
        background-color: darkorange;
    }

    #dropdown li div:hover>a {
        color: #23689B;
        ;
    }

    #dropdown li a {
        color: rgb(255, 255, 255);
        margin: 0;
    }

}